{{define "error"}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Page not found </title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <p> Sorry, the page you requested doesn't exit ! </p>
  <p> If you want to go back to the client interface, <a href="/">click here !</a> </p>
</body>
</html>
{{end}}
